@using Fastkart.Models.Entities;
@model ProductCategory;
@{
    Layout = "_LayoutAdmin";
    ViewData["title"] = "Edit Category";
    var productCategory = ViewBag.productCategory as ProductCategory;
}

<section class="product-category-create">
    <form action="/admin/product-category/edit/@productCategory.Uid" method="post" class="theme-form theme-form-2" id="mainForm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-header2">
                        <h5>Category Information</h5>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="name" class="col-3 form-label-title">Category Name</label>
                        <div class="col-9">
                            <input class="form-control" type="text" asp-for="CategoryName" id="name" value="@productCategory.CategoryName" placeholder="Category Name" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label class="col-3 form-label-title">Category Image</label>
                        <div class="col-9">
                            <div id="my-dropzone" class="dropzone"></div>
                            <input type="hidden" name="Thumbnail" id="Thumbnail" data-thumbnail="@productCategory.Thumbnail">
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="status" class="col-3 form-label-title">Status</label>
                        <div class="col-9">
                            <div class="radio-section">
                                <label>
                                    <input type="radio" name="Status" value="Active" @(productCategory.Status == "Active" ? "checked" : "")>
                                    <i></i>
                                    <span>Active</span>
                                </label>
                                <label>
                                    <input type="radio" name="Status" value="Inactive" @(productCategory.Status == "Inactive" ? "checked" : "")>
                                    <i></i>
                                    <span>Inactive</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-start">
                        <label for="desc" class="col-3 form-label-title">Product Description</label>
                        <div class="col-9">
                            <textarea id="editor" name="Description">@productCategory.Description</textarea>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="position" class="col-3 form-label-title">Position</label>
                        <div class="col-9 parent">
                            <input class="form-control" asp-for="Position" type="number" id="position" value="@productCategory.Position" placeholder="Tự động tăng" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn text-white theme-bg-color ms-auto" button-save>Add Product</button>
                </div>
            </div>
        </div>
    </form>
</section>
