@using Fastkart.Models.Entities;
@using System.Text.Json

@{
    Layout = "_LayoutAdmin";
    ViewData["title"] = "Category";
}

<section class="product-area">
    <div class="card card-table">
        <div class="header-title">
            <h5>All Category</h5>
            <div class="options">
                <ul>
                    @if (User.HasClaim("permission", "product-category_create"))
                    {
                        <li>
                            <a href="/admin/product-category/create" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                                Add New
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div>
            <div class="table-search">
                <label>
                    Tìm kiếm
                    <input type="text" name="name" value="" input-search />
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center me-3">
                    <span class="me-3">Lọc</span>
                    <select class="js-example-basic-single" box-filter>
                        <option value="">Tất cả</option>
                        <option value="Active">Hoạt động</option>
                        <option value="Inactive">Dừng hoạt động</option>
                    </select>
                </div>
                <div class="d-flex">
                    <div class="me-4 d-flex align-items-center">
                        <span class="text-nowrap me-3">Sắp xếp</span>
                        <select class="js-example-basic-single" sort-select>
                            <option value="Position-desc">Vị trí giảm dần</option>
                            <option value="Position-asc">Vị trí tăng dần</option>
                            <option value="Price-desc">Giá giảm dần</option>
                            <option value="Price-asc">Giá tăng dần</option>
                            <option value="CategoryName-desc">Tiêu đề từ Z đến A</option>
                            <option value="CategoryName-asc">Tiêu đề từ A đến Z</option>
                        </select>
                    </div>
                    @if (User.HasClaim("permission", "product-category_edit"))
                    {
                        <div class="d-flex align-items-center">
                            <span class="text-nowrap me-3">Thay đổi</span>
                            <form form-change-multi data-patch="/admin/sub-category/change-multi">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <select class="js-example-basic-single" name="status">
                                            <option value="Active">Hoạt động</option>
                                            <option value="Inactive">Dừng hoạt động</option>
                                            <option value="delete">Xóa</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button type="submit">Áp dụng</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table theme-table mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Category Name</th>
                            <th>Category Image</th>
                            <th>Status</th>
                            <th>Position</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewData["productCategories"] != null)
                            {
                                foreach (ProductCategory productCategory in ViewBag.productCategories)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="checkbox_animated checkall" input-change="@productCategory.Uid" />
                                        </td>
                                        <td>@productCategory.CategoryName</td>
                                        <td>
                                            <div class="table-img">
                                                @{
                                                    var thumbnails = string.IsNullOrWhiteSpace(productCategory.Thumbnail)
                                                    ? new List<string>()
                                                    : JsonSerializer.Deserialize<List<string>>(productCategory.Thumbnail);

                                                    var firstImg = thumbnails.FirstOrDefault();
                                                }

                                                @if (!string.IsNullOrEmpty(firstImg))
                                                {
                                                    <img src=@firstImg alt=@productCategory.CategoryName class="img-fluid" />
                                                }
                                            </div>
                                        </td>
                                        @{
                                            if (User.HasClaim("permission", "product-category_edit"))
                                            {
                                                if (productCategory.Status == "Active")
                                                {
                                                    <td class="status status-close">
                                                        <button type="button" button-change-status="Active" data-patch="/admin/product-category/change-status/@productCategory.Uid" item-id="@productCategory.Uid">Hoạt động</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="status status-danger">
                                                        <button type="button" button-change-status="Inactive" data-patch="/admin/product-category/change-status/@productCategory.Uid" item-id="@productCategory.Uid">Dừng hoạt động</button>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                if (productCategory.Status == "Active")
                                                {
                                                    <td class="status status-close">
                                                        <button type="button">Hoạt động</button>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="status status-danger">
                                                        <button type="button">Dừng hoạt động</button>
                                                    </td>
                                                }
                                            }

                                        }
                                        <td class="td-position">
                                            @if (User.HasClaim("permission", "product-category_edit"))
                                            {
                                                <input type="number" value="@productCategory.Position" item-id=@productCategory.Uid input-position data-patch="/admin/product-category/change-position" />

                                            } else
                                            {
                                                <input type="number" value="@productCategory.Position" readonly/>

                                            }
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <a href="/admin/product-category/detail/@productCategory.Uid" class="icon-detail">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.0003 3C17.3924 3 21.8784 6.87976 22.8189 12C21.8784 17.1202 17.3924 21 12.0003 21C6.60812 21 2.12215 17.1202 1.18164 12C2.12215 6.87976 6.60812 3 12.0003 3ZM12.0003 19C16.2359 19 19.8603 16.052 20.7777 12C19.8603 7.94803 16.2359 5 12.0003 5C7.7646 5 4.14022 7.94803 3.22278 12C4.14022 16.052 7.7646 19 12.0003 19ZM12.0003 16.5C9.51498 16.5 7.50026 14.4853 7.50026 12C7.50026 9.51472 9.51498 7.5 12.0003 7.5C14.4855 7.5 16.5003 9.51472 16.5003 12C16.5003 14.4853 14.4855 16.5 12.0003 16.5ZM12.0003 14.5C13.381 14.5 14.5003 13.3807 14.5003 12C14.5003 10.6193 13.381 9.5 12.0003 9.5C10.6196 9.5 9.50026 10.6193 9.50026 12C9.50026 13.3807 10.6196 14.5 12.0003 14.5Z"></path></svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    @if (User.HasClaim("permission", "product-category_edit"))
                                                    {
                                                        <a href="/admin/product-category/edit/@productCategory.Uid" class="icon-edit">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z"></path></svg>
                                                        </a>
                                                    }
                                                    
                                                </li>
                                                <li>
                                                    @if (User.HasClaim("permission", "product-category_delete"))
                                                    {
                                                        <a href="#" class="icon-delete" data-patch="/admin/product-category/delete/@productCategory.Uid" button-delete button-id="@productCategory.Uid">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M7 4V2H17V4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7ZM6 6V20H18V6H6ZM9 9H11V17H9V9ZM13 9H15V17H13V9Z"></path></svg>
                                                        </a>
                                                    }
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <nav class="box-page">
                <ul class="d-flex justify-content-center gap-2">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a href="" button-pagination=@(ViewBag.CurrentPage - 1)>
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    @{
                        for (int i = 1; i <= ViewBag.TotalPage; i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                <a href="#" button-pagination=@i>
                                    @i
                                </a>
                            </li>
                        }
                    }
                    <li class="page-item @(ViewBag.TotalPage == ViewBag.CurrentPage ? "disabled" : "")">
                        <a href="" button-pagination=@(ViewBag.CurrentPage + 1)>
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
