@using Fastkart.Models.Entities;
@using System.Text.Json
@model Roles;
@{
    Layout = "_LayoutAdmin";
    ViewData["title"] = "Permission";
}

<section class="product-category-create">
    <div class="card">
        <div class="card-header2">
            <h5>Permission</h5>
        </div>
        <div class="table-responsive">
            <table class="table theme-table mb-0" table-permission='@Html.Raw(JsonSerializer.Serialize(ViewData["permissions"]))'>
                <thead>
                    <tr>
                        <th>Tính năng</th>
                        @{
                            if(ViewData["roles"] != null)
                            {
                                foreach(Roles role in ViewBag.roles)
                                {
                                    <th role-id=@role.Uid>@role.RoleName</th>
                                }
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        // product
                        <tr>
                            <td colspan="@ViewBag.roles.Count + 1" class="text-start">
                                <b class="fs-5">Quản lý sản phẩm</b>
                            </td>
                        </tr>
                        <tr data-name="product_view">
                            <td>Xem</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product_create">
                            <td>Thêm mới</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product_edit">
                            <td>Sửa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product_delete">
                            <td>Xóa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        // end product

                        // product category
                        <tr>
                            <td colspan="@ViewBag.roles.Count + 1" class="text-start">
                                <b class="fs-5">Quản lý danh mục sản phẩm</b>
                            </td>
                        </tr>
                        <tr data-name="product-category_view">
                            <td>Xem</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-category_create">
                            <td>Thêm mới</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-category_edit">
                            <td>Sửa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-category_delete">
                            <td>Xóa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        // end category

                        // product subCategory
                        <tr>
                            <td colspan="@ViewBag.roles.Count + 1" class="text-start">
                                <b class="fs-5">Quản lý danh mục phụ</b>
                            </td>
                        </tr>
                        <tr data-name="product-sub-category_view">
                            <td>Xem</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-sub-category_create">
                            <td>Thêm mới</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-sub-category_edit">
                            <td>Sửa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="product-sub-category_delete">
                            <td>Xóa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        // end subCategory

                        // product role
                        <tr>
                            <td colspan="@ViewBag.roles.Count + 1" class="text-start">
                                <b class="fs-5">Quản lý quyền</b>
                            </td>
                        </tr>
                        <tr data-name="role_view">
                            <td>Xem</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="role_create">
                            <td>Thêm mới</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="role_edit">
                            <td>Sửa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="role_delete">
                            <td>Xóa</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        <tr data-name="role_permission">
                            <td>Phân quyền</td>
                            @foreach (Roles role in ViewBag.roles)
                            {
                                <td>
                                    <input type="checkbox" class="checkbox_animated checkall" data-id="@role.Uid" />
                                </td>
                            }
                        </tr>
                        // end role
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <button type="submit" class="btn text-white theme-bg-color ms-auto" button-submit data-patch="/admin/role/permission">Save</button>
    </div>
</section>