@using Fastkart.Models.Entities;
@model Product;
@{
    Layout = "_LayoutAdmin";
    ViewData["title"] = "Create Product";
}

<section class="product-create">
    <form action="/admin/product/create" method="post" class="theme-form theme-form-2" id="mainForm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-header2">
                        <h5>Product Information</h5>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="productName" class="col-3 form-label-title">Product Name</label>
                        <div class="col-9 parent">
                            <input class="form-control" asp-for="ProductName" type="text" id="productName" placeholder="Nhập tên sản phẩm (VD: Rau muống Đà Lạt)" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="category" class="col-3 form-label-title">Product Category</label>
                        <div class="col-9">
                            <select id="category" class="js-example-basic-single w-100">
                                @{
                                    if(ViewData["productCategories"] != null)
                                    {
                                        foreach (var productCategory in ViewBag.productCategories)
                                        {
                                            <option value="@productCategory.Uid">@productCategory.CategoryName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="subcategory" class="col-3 form-label-title">Subcategory</label>
                        <div class="col-9">
                            <select id="subcategory" class="js-example-basic-single w-100" name="SubCategoryUid">
                                <option disabled value="">Static Menu</option>
                                <option value="">Simple</option>
                                <option value="">Classified</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="brand" class="col-3 form-label-title">Brand</label>
                        <div class="col-9">
                            <select id="brand" class="js-example-basic-single w-100" name="BrandUid">
                                @{
                                    if(ViewData["brands"] != null)
                                    {
                                        foreach(Brand brand in ViewBag.brands)
                                        {
                                            <option value=@brand.Uid>@brand.BrandName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="unit" class="col-3 form-label-title">Unit</label>
                        <div class="col-9">
                            <select id="unit" class="js-example-basic-single w-100" name="UnitUid">
                                @{
                                    if (ViewData["units"] != null)
                                    {
                                        foreach (Unit unit in ViewBag.units)
                                        {
                                            <option value=@unit.Uid>@unit.UnitName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="exchangeable" class="col-3 form-label-title">Exchangeable</label>
                        <div class="col-9">
                            <label class="switch">
                                <input type="checkbox" name="Exchangeable" id="exchangeable" value="true" class="d-none" />
                                <span class="switch-state"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="refundable" class="col-3 form-label-title">Refundable</label>
                        <div class="col-9">
                            <label class="switch">
                                <input type="checkbox" name="Refundable" id="refundable" value="true" class="d-none" checked />
                                <span class="switch-state"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="status" class="col-3 form-label-title">Status</label>
                        <div class="col-9">
                            <div class="radio-section">
                                <label>
                                    <input type="radio" name="Status" value="Active" checked="">
                                    <i></i>
                                    <span>Active</span>
                                </label>
                                <label>
                                    <input type="radio" name="Status" value="Inactive">
                                    <i></i>
                                    <span>Inactive</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="position" class="col-3 form-label-title">Position</label>
                        <div class="col-9 parent">
                            <input class="form-control" asp-for="Position" type="number" id="position" placeholder="Tự động tăng" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h5>Description</h5>
                    </div>
                    <div class="row mb-4 align-items-start">
                        <label for="desc" class="col-3 form-label-title">Product Description</label>
                        <div class="col-9">
                            <textarea id="editor" name="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h5>Product Images</h5>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="desc" class="col-3 form-label-title">Images</label>
                        <div class="col-9">
                            <div id="my-dropzone" class="dropzone"></div>
                            <input type="hidden" name="Thumbnail" id="Thumbnail">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h5>Shipping</h5>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="productWeight" class="col-3 form-label-title">Weight (kg)</label>
                        <div class="col-9 parent">
                            <input class="form-control" type="text" name="Weight" value="" id="productWeight" placeholder="Weight" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h5>Product Price</h5>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="productPrice" class="col-3 form-label-title">Price</label>
                        <div class="col-9 parent">
                            <input class="form-control" type="number" asp-for="Price" id="productPrice" placeholder="0" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="productDiscount" class="col-3 form-label-title">Discount</label>
                        <div class="col-9 parent">
                            <div class="row">
                                <div class="col-11 pe-0">
                                    <input class="form-control rounded-0 rounded-start" asp-for="Discount" type="number" id="productDiscount" placeholder="0" />                
                                </div>
                                <div class="col-1 ps-0">
                                    <span class="theme-bg-color fw-bold text-white d-flex justify-content-center align-items-center w-100 h-100 rounded-end">%</span>
                                </div>
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h5>Product Inventory</h5>
                    </div>
                    <div class="row mb-4 align-items-center" container-sku>
                        <label for="sku" class="col-3 form-label-title">SKU</label>
                        <div class="col-9 parent">
                            <input class="form-control" type="text" asp-for="Sku" id="sku" />
                            <span asp-validation-for="Sku" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center">
                        <label for="StockQuantity" class="col-3 form-label-title">Stock Quantity</label>
                        <div class="col-9 parent">
                            <input class="form-control" asp-for="StockQuantity" type="number" name="StockQuantity" id="StockQuantity" placeholder="0" />
                            <span asp-validation-for="StockQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-4 align-items-center" >
                        <label for="optionName" class="col-3 form-label-title">Stock Status</label>
                        <div class="col-9">
                            <select class="js-example-basic-single w-100" name="StockStatusUid">
                                @{
                                    if (ViewData["stockStatus"] != null)
                                    {
                                        foreach (StockStatus stockStatus in ViewBag.stockStatus)
                                        {
                                            <option value=@stockStatus.Uid>@stockStatus.StockName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn text-white theme-bg-color ms-auto"  button-save>Add Product</button>
                </div>
            </div>
        </div>
    </form>
    
</section>

